<Files website/webservices/adminDashboard>
	Deny from all
	Allow from 127.0.0.1
</Files>

<Files website/views/adminDashboard>
	Deny from all
	Allow from 127.0.0.1
</Files>

<Files website>
	Allow from all
</Files>

DirectoryIndex /website/viewController.php

RewriteEngine On
RewriteRule ^(authentication|account|dashboard|messaging)$ /website/viewController.php?page=$1 [L,QSA]
RewriteRule ^(authentication|account|dashboard|messaging)/$ /website/viewController.php?page=$1 [L,QSA]

RewriteRule ^login$ /website/viewController.php?page=authentication&action=login [L,QSA]
RewriteRule ^login/$ /website/viewController.php?page=authentication&action=login [L,QSA]

RewriteRule ^registration$ /website/viewController.php?page=authentication&action=registration [L,QSA]
RewriteRule ^registration/$ /website/viewController.php?page=authentication&action=registration [L,QSA]

RewriteRule ^logout$ /website/viewController.php?page=logout [L,QSA]
RewriteRule ^logout/$ /website/viewController.php?page=logout [L,QSA]

#-------------------------------------- Users ---------------------------------------------
#  List users WITHOUT their type-specific information
#  (Accepts limit & offset query params for pagination)
#  Ex: 
# 		localhost/users 	- Lists all users 
# 		localhost/users/1	- Lists user by userID 1 (Shows password for single user)
RewriteRule ^users$ /website/restController.php?resource=user&action=list [L,QSA]
RewriteRule ^users/$ /website/restController.php?resource=user&action=list [L,QSA]
RewriteRule ^users/([0-9]+)$ /website/restController.php?resource=user&action=list&userID=$1 [L,QSA]

#  List users WITH their type-specific information
#  (Accepts limit & offset query params for pagination)
#  Ex: 
# 		localhost/users/student 	- Lists all students 
# 		localhost/users/student/1	- Lists student by userID 1 (Shows password for single user)
RewriteRule ^users/(student|teacher|admin)$ /website/restController.php?resource=user&action=list&user-type=$1 [L,QSA]
RewriteRule ^users/(student|teacher|admin)/$ /website/restController.php?resource=user&action=list&user-type=$1 [L,QSA]
RewriteRule ^users/(student|teacher|admin)/([0-9]+)$ /website/restController.php?resource=user&action=list&user-type=$1&userID=$2 [L,QSA]

# Authenticates the user and returns userID & userType
# Ex:
# 		localhost/login	
# 		POST: {"email": "xyz@mail.com", "password": "tesmp"}
RewriteRule ^users/authenticate$ /website/restController.php?resource=user&action=authenticate [L,QSA]
RewriteRule ^users/authenticate/$ /website/restController.php?resource=user&action=authenticate [L,QSA]

# Creates a user of their type & returns the userID & userType
# Ex:
#		localhost/users/(student|teacher|admin)/create - Create a new student/teacher/admin 
#		POST: 
#		{
#			"user-type", "fname", "lname", "email", "gender", "dob", "password", "repeat-password"
#			"class-group", "level", "subjects"
#			"subject-taught", "teacher-date-joined"
#			"admin-date-joined"
#		}
RewriteRule ^users/(student|teacher|admin)/create$ /website/restController.php?resource=user&action=create&user-type=$1 [L,QSA]
RewriteRule ^users/(student|teacher|admin)/create/$ /website/restController.php?resource=user&action=create&user-type=$1 [L,QSA]

#-------------------------------------- CLASSES ---------------------------------------------
#  List classes
#  (Accepts limit & offset query params for pagination)
#  Ex:
#		localhost/classes		-	Lists all classes
#		localhost/classes/1		- 	Lists class by classID=1
RewriteRule ^classes$ /website/restController.php?resource=classes&action=list	[L,QSA]
RewriteRule ^classes/$ /website/restController.php?resource=classes&action=list	[L,QSA]
RewriteRule ^classes/([0-9]+)$ /website/restController.php?resource=classes&action=list&classID=$1 [L]
RewriteRule ^classes/([0-9]+)/$ /website/restController.php?resource=classes&action=list&classID=$1 [L]

#  List classes enrolled/classes taught by students/teachers
#  Ex: 
# 		localhost/users/student/classes 	- Lists classes enrolled by all students, by their UserIDs
# 		localhost/users/student/1/classes	- Lists classes enrolled by student with userID 1 
# 
# 		localhost/users/teacher/classes		- Lists classes taught by all teachers, by their UsersIDs
# 		localhost/users/teacher/1/classes	- Lists classes taught by teacher with userID 1 
RewriteRule ^users/(student|teacher)/classes$ /website/restController.php?resource=classes&action=list&user-type=$1 [L,QSA]
RewriteRule ^users/(student|teacher)/classes/$ /website/restController.php?resource=classes&action=list&user-type=$1 [L,QSA]
RewriteRule ^users/(student|teacher)/([0-9]+)/classes$ /website/restController.php?resource=classes&action=list&user-type=$1&userID=$2 [L,QSA]
RewriteRule ^users/(student|teacher)/([0-9]+)/classes/$ /website/restController.php?resource=classes&action=list&user-type=$1&userID=$2 [L,QSA]

#  Enroll a student into classes by subjects taken
#  Ex:
#		localhost/classes/enroll/1	- Enroll student with userID 1 in classes based on subjects selected
#		POST:
#		{ "subjects": array }
RewriteRule ^classes/enroll/([0-9]+)$ /website/restController.php?resource=classes&action=enroll&userID=$1 [L]
RewriteRule ^classes/enroll/([0-9]+)/$ /website/restController.php?resource=classes&action=enroll&userID=$1 [L]

# Lists subjects
# Ex:
# 		localhost/subjects
RewriteRule ^subjects$ /website/restController.php?resource=subject&action=list [L,QSA]
RewriteRule ^subjects/$ /website/restController.php?resource=subject&action=list [L,QSA]
