<Files website/models/AdminDashboard>
	Deny from all
	Allow from 127.0.0.1
</Files>

<Files website/views/AdminDashboard>
	Deny from all
	Allow from 127.0.0.1
</Files>

<Files website>
	Allow from all
</Files>

DirectoryIndex /website/router.php

RewriteEngine On
RewriteRule ^(authentication|account|dashboard|messaging)$ /website/router.php?page=$1 [L,QSA]
RewriteRule ^(authentication|account|dashboard|messaging)/$ /website/router.php?page=$1 [L,QSA]
RewriteRule ^login$ /website/models/Authentication/login.php [L,QSA]
RewriteRule ^login/$ /website/models/Authentication/login.php [L,QSA]
RewriteRule ^registration$ /website/models/Authentication/registration.php [L,QSA]
RewriteRule ^registration/$ /website/models/Authentication/registration.php [L,QSA]
RewriteRule ^get-subjects$ /website/models/Authentication/getSubjects.php [L,QSA]
RewriteRule ^get-subjects/$ /website/models/Authentication/getSubjects.php [L,QSA]