body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

input {
    margin-left: 10px;
    margin-top: 5px;
}

span {
    display: flex;
    justify-content: center;
    justify-self: center;
}

div {
    border: 1px red solid;
}

#heroImageSection {
    height: 400px;
}

#mainSection {
    display: flex;
    height: 900px;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

#footer {
    height: 200px;
}

#logo {
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 15px;
    top: 20px;
    align-items: center;
    justify-content: center;
}

#contactButton {
    position: absolute;
    width: min(150px, 25%);
    height: 40px;
    top: 20px;
    right: min(20px, 5%);
}

#loginRegisterSection {
    height: 70%;
    width: min(95%, 950px);
    margin: auto;
    display: flex;
}

#slidingSection {
    height: 100%;
    min-width: 40%;
}

#reglogDiv {
    margin-top: 70%;
}

#formSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#signUpForm {
    display: grid;
    margin-top: 20px;
}

input:nth-child(n) {
    width: min(200px, 90%);
    padding-right: 5px;
}

input:nth-child(2) {
    grid-column: 2;
}

input:nth-child(4) {
    grid-column: 1;
}

input:nth-child(10) {
    grid-column: 1;
    height: fit-content;
}

#subjectList {
    grid-column: 1;
}

#optionalInput {
    padding-bottom: 5px;
}

#subjectList dt {
    margin-left: 30px;
}

#subjectList button {
    margin-left: 20px;
}

#signUpButton {
    width: min(120px, 26%);
    margin-top: 40px;
    margin-left: 70%;
}

#userTypeSelectionSection {
    display: flex;
    justify-content: center;
}