#registration-form #specificAttr-fieldset {
    height: 100%;
    width: 90%;
    margin-left: 7%;
    margin-right: 0%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px var(--blueOcean) solid;
    padding: 0px;
}

#specificAttr-fieldset-student #top-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 45%));
}

#top-section.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#specificAttr-fieldset-student #bottom-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 3%;
}

#bottom-section #subjectList-header {
    color: black;
    margin-left: 4%;
}

#bottom-section #subjectList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, max(68px, 28%));
    gap: 7%;
}

#subjectList .subject {
    width: 60px;
    height: 19px;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 12px;
    padding: 5px;
    border: 1px var(--purpleVortex) solid;
    color: var(--purpleVortex);
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

#subjectList .subject img {
    position: absolute;
    left: 70%;
    cursor: pointer;
    fill: var(--blueOcean);
    width: 16px;
    height: 16px;
}

#subjectList #addSubject-button {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    grid-column: auto;
    grid-row: auto;
}

#specificAttr-fieldset #specificAttr-fieldset-teacher {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 50%));

}

#specificAttr-fieldset-teacher .input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0px;
    width: 150px;
}

#specificAttr-fieldset-teacher .input-group:nth-child(2) {
    margin-left: 20%;
}

#specificAttr-fieldset #specificAttr-fieldset-admin {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
}

#specificAttr-fieldset-admin .input-group {
    width: 150px;
    margin-left: 0px;
}

@media (width < 800px) {
    #registration-form #specificAttr-fieldset {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 400px;
        width: 75%;
    }

    #specificAttr-fieldset-teacher .input-group {
        margin-left: 0%;
    }

    #specificAttr-fieldset-teacher .input-group:nth-child(2) {
        margin-left: 0%;
    }
}