.card-container {
    width: 100vw;
    height: 85vh;
    padding: 24px;
    box-sizing: border-box;
    background-color: #343a40;
    /* Include padding and border in width */
}

.main-content {
    /* max-width: 960px; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}

.main-heading {
    font-size: 1.875rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 8px;
}

.description {
    color: #e2e3e4;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 24px;
}

.card {
    background-color: #495057;
    padding: 34px;
    border-radius: 12px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.icon {
    width: 48px;
    height: 48px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;
}

.card-text {
    color: #e2e3e4;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}