body {
    position: relative;
    height: 101vh;
    overflow-y: hidden;
    margin-top: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

body #main-wrapper {
    position: relative;
    width: clamp(600px, 80%, 3000px);
    margin-top: 11.1vh;
    background: url("../../assets/cool-background.png");
    background-size: cover;
}

#main-wrapper #classChat-header {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0px;
    border-radius: 0px 5px 0px 0px;
    background-color: rgba(222, 222, 255, 0.5);
    box-shadow: 1px 2px 3px grey;
}

#classChat-header #left-section {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#left-section #classChat-description {
    font-size: clamp(0.7rem, 1.4vw + 0.1rem, 5rem);
    width: 20vw;
}

#classChat-header #left-section>img {
    margin-left: 2%;
}

#classChat-header #classChat-description {
    margin-top: 2.5%;
    margin-left: 1%;
    padding-bottom: 2.5%;
    font-weight: bold;
    color: var(--blueOcean);
}

#classChat-header #viewMembers-button {
    height: 80%;
    margin: auto;
    width: 20%;
    margin-right: 1%;
    font-size: clamp(0.5rem, 0.8vw + 0.4rem, 5rem);
}

#main-wrapper #classChat-body {
    position: relative;
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

#classChat-body .message {
    width: 60%;
    border-radius: 10px;
    background-color: rgba(222, 222, 255, 0.7);
    margin: 1%;
    padding: 1%;
}

#main-wrapper #classChat-footer {
    width: 100%;
    height: 10svh;
    background-color: rgba(222, 222, 255, 0.6);
    padding-top: 5px;
    padding-bottom: 5px;
}


#classChat-footer #message-input {
    height: 65%;
    width: 68svw;
    padding: 5px;
    margin-left: 1%;
    font-size: clamp(0.2rem, 1vw + 0.1rem, 5rem);
    border-radius: 5px;
}

#classChat-footer #send-button {
    position: relative;
    width: 4svw;
    margin-left: clamp(10px, 0.2svw, 500px);
    height: 8.5svh;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-right: 0.3vw;
}

#send-button>img {
    position: absolute;
    top: 25%;
    left: 0.9vw;
    width: 24px;
    height: 24px;
}



@media(width < 400px) {

    #classChat-footer #message-input {
        width: 60svw;
    }

    #send-button>img {
        width: 3vw;
        height: 4vh;
    }
}

#classChat-footer #send-button:hover {
    background-color: rgba(205, 25, 100, 0.6);
}

#classChat-footer #send-button:active {
    background-color: rgba(205, 25, 100, 0.8);
}

#main-wrapper #classChat-cover {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}