#registration-form #userType-fieldset {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 0px;
    border: none;
}

#userType-fieldset>input {
    padding: auto;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.55);
    width: 75px;
    height: 1.5rem;
}

#registration-form #generalAttr-fieldset {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(26vw, 240px));
    width: 90%;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5%;
    gap: 0px;
    border: none;
}

#generalAttr-fieldset select {
    width: 100%;
}

#generalAttr-fieldset div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (width < 800px) {
    #generalAttr-fieldset div {
        width: 90%;
        grid-column: 1 / 3;
    }
}