body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    margin-top: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

body #sidebar {
    width: 26.55%;
    height: 100%;
    background-color: #705ba5;
    color: white;
}

#sidebar>h1 {
    padding-top: 25%;
    padding-left: 15%;
}

#sidebar #class-menu {
    width: 60%;
    height: 40%;
    margin-left: 15%;
    overflow-y: scroll;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    padding-left: 0px;
    gap: 5px;
}

#class-menu ul {
    font-size: 15px;
    padding-top: 10px
}

#class-menu ul:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--purpleVortex);
}

body #main-wrapper {
    width: 74.7%;
    margin-top: 6%;
    background: url("../../icons/cool-background.png");
}

#main-wrapper #classChat-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0px;
    border-radius: 0px 5px 0px 0px;
    background-color: rgba(222, 222, 255, 0.5);
    box-shadow: 1px 2px 3px grey;
}

#classChat-header #left-section {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#classChat-header #left-section>img {
    margin-left: 2%;
}

#classChat-header #left-section>div {
    margin-top: 2.5%;
    margin-left: 1%;
    padding-bottom: 2%;
}

#classChat-header #viewMembers-button {
    height: 80%;
    margin: auto;
    width: 20%;
    margin-right: 1%;
}

#main-wrapper #classChat-body {
    position: relative;
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

#classChat-body .message {
    width: 60%;
    border-radius: 10px;
    background-color: rgba(222, 222, 255, 0.7);
    margin: 1%;
    padding: 1%;
}

#main-wrapper #classChat-footer {
    width: 100%;
    height: 14.7%;
    background-color: rgba(222, 222, 255, 0.6);
}

#classChat-footer #message-input {
    width: 88.5%;
    padding: 5px;
    text-wrap: stable;
    margin-top: 1.4%;
    margin-bottom: 1.5%;
    margin-left: 1%;
    font-size: 15px;
    border-radius: 5px;
}

#classChat-footer #send-button {
    cursor: pointer;
    margin-left: 2%;
    padding: 0.76%;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.6);
}